:root {
    --text: rgb(242, 242, 242);
    --background: rgb(20, 20, 20);
    --primary: rgb(0, 187, 237);
    --secondary: rgb(255, 157, 0);
    --accent: rgb(191, 0, 29);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--text);
    background-color: var(--background);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--background);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    align-items: center;
}

.navbar-logo {
    font-size: 24px;
    color: var(--primary);
    text-decoration: none;
    margin-right: 10px; /* Add space between logo and toggle */
}

.navbar-toggle {
    font-size: 24px;
    cursor: pointer;
    display: none;
    margin-left: 10px; /* Add space between logo and toggle */
}

.navbar-nav {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    margin: 0 15px;
}

.navbar-nav li a {
    text-decoration: none;
    color: var(--text);
    transition: color 0.3s;
}

.navbar-nav li a:hover {
    color: var(--primary);
}

.download-cv {
    background-color: var(--primary);
    color: var(--text);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.download-cv:hover {
    background-color: var(--secondary);
    color: var(--background);
}

/* Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--background);
        position: absolute;
        top: 70px;
        left: 0;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-nav.active {
        transform: translateY(100%);
        display: flex;
    }

    .navbar-toggle {
        display: block;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .navbar-toggle.active {
        color: var(--primary);
    }

    .navbar-nav li {
        margin: 10px 0;
    }

    .navbar-container {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
}